/* You can add global styles to this file, and also import other style files */
:root {
    --primary-grey: #2e2e38;
    --secondary-grey: #1a1a24;
    --third-grey: #f6f6fa;
    --forth-grey: #9b9d9e;
    --primary-yellow: #ffe600;
}